button {
  padding: .5rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  background: $btn-bg-color;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  transition: box-shadow 300ms;
  color: $btn-font-color;

  &:active {
    background: $btn-bg-color-active;
  }

  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  }

  &.delete {
    background: transparent;
    color: $btn-delete-color;
    border: 2px solid $btn-delete-color;
    padding: .5rem;
    font-size: .7rem;
  }
}
