#navbar {
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  box-shadow: 0px -5px 10px 0px black;
  
  & img {
    width: 74px;
    height: 60px;
  }
  
  & .logo-title-wrapper {
    align-items: center;
  }
  
  & .main-title {
    font-size: 2rem;
  }
}