#task-details-modal {
  flex-direction: column;
  text-align: center;
  width: 20%;

  .details-middle-row {
    justify-content: space-between;
    align-items: center;
  }

  .task-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  input[type=text], select {
    width: 100%;
    height: 2rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding-left: .25rem;
    box-sizing: border-box;
  }

  select {
    height: 4rem;
  }
}